@mixin font-lato{
    font-family: 'Lato', sans-serif;
}
@mixin button{
    border-radius: 4px;
    outline: none;
    margin: 0;
    padding: 16px 20px;
    font-size: 18px;
    border: none;
    display: inline-block;

}